@page "/gifts/{personId}"
@inject GiftRepository repo

<PageTitle>Gifts</PageTitle>

<h1>Gifts for ...</h1>

<p>Take some time to reflect on them. What is going on in their life right now? What gifts would they enjoy receiving?</p>

@if (gifts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Person</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var gift in gifts)
            {
                <tr>
                    <td>@gift.Name</td>
                    <td>@gift.PersonName</td>
                    <td><button class="btn btn-link p-0" @onclick="() => DeleteAsync(gift.Id)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" @onsubmit="SubmitAsync" @formname="starship-plain-form">
    <AntiforgeryToken />
        <div>
            <InputText @bind-Value="NewGiftName" />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
}

@code {

    [Parameter]
    public string PersonId { get; set; }
    private Gift[]? gifts;

    [SupplyParameterFromForm]
    private string NewGiftName { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        this.NewGiftName = string.Empty;
        gifts = await repo.GetGiftIdeasForPerson(Guid.Parse(PersonId));
    }

    private async Task SubmitAsync()
    {
        if (string.IsNullOrWhiteSpace(NewGiftName))
        {
            throw new Exception("Invalid person data.");   
        }

        await repo.AddNewGift(NewGiftName, Guid.Parse(PersonId));
        await this.OnInitializedAsync();
    }

    private async Task DeleteAsync(Guid id)
    {
        await repo.DeleteGift(id);
        await this.OnInitializedAsync();
    }
}
