@page "/people"
@attribute [StreamRendering]
@inject PersonRepository repo
@inject NavigationManager navigationManager

<PageTitle>People</PageTitle>

<h1>People</h1>

<p>This component demonstrates showing data.</p>

@if (myPeople == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in myPeople)
            {
                <tr>
                    <td>
                        <a href="gifts/@person.Id">@person.Name</a>
                    </td>
                    <td>@person.Birthday</td>
                    <td><a href="javascript:void()" @onclick="(async () => await DeleteAsync(person.Id))" @onclick:preventDefault>Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" @onsubmit="SubmitAsync" @formname="starship-plain-form">
    <AntiforgeryToken />
        <div>
            <InputText @bind-Value="NewPersonName" />
            <InputText @bind-Value="NewPersonBirthday" />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
}

@code {
    private Person[]? myPeople;

    [SupplyParameterFromForm]
    private string NewPersonName { get; set; } = string.Empty;
    
    [SupplyParameterFromForm]
    private string NewPersonBirthday { get; set; } = string.Empty;

    private async Task SubmitAsync()
    {
        if (string.IsNullOrWhiteSpace(NewPersonName) ||
            string.IsNullOrWhiteSpace(NewPersonBirthday))
        {
            throw new Exception("Invalid person data.");   
        }

        await repo.AddNewPerson(NewPersonName, DateTime.Parse(NewPersonBirthday));
        navigationManager.NavigateTo("People");
    }

    private async Task DeleteAsync(Guid id)
    {
        await repo.DeletePerson(id);
        navigationManager.NavigateTo("People");
    }

    protected override async Task OnInitializedAsync()
    {
        myPeople = await repo.GetMyPeople(Guid.Empty);
    }
}
