@page "/people"
@attribute [Authorize(Roles = "Admin")]
@inject PersonRepository repo

<PageTitle>People</PageTitle>

<h1>People</h1>

<p>People who you plan to gift</p>

@if (myPeople == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in myPeople)
            {
                <tr>
                    <td>
                        <a href="gifts/@person.Id">@person.Name</a>
                    </td>
                    <td>@person.Birthday</td>
                    <td>
                        <button class="btn btn-link p-0" @onclick="() => DeleteAsync(person.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" @onsubmit="SubmitAsync" @formname="starship-plain-form">
    <AntiforgeryToken />
        <div>
            <InputText @bind-Value="NewPersonName" placeholder="Name" />
            <InputText @bind-Value="NewPersonBirthday" placeholder="Birthday (MM/dd/YYYY)" />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
}

@code {
    private static readonly Guid TempUserId = Guid.Parse("b56c8b89-433a-4f14-84c4-c5ec42f51366");
    private Person[]? myPeople;

    [SupplyParameterFromForm]
    private string NewPersonName { get; set; } = string.Empty;
    
    [SupplyParameterFromForm]
    private string NewPersonBirthday { get; set; } = string.Empty;

    private async Task SubmitAsync()
    {
        if (string.IsNullOrWhiteSpace(NewPersonName) ||
            string.IsNullOrWhiteSpace(NewPersonBirthday))
        {
            throw new Exception("Invalid person data.");   
        }

        await repo.AddNewPerson(NewPersonName, DateTime.Parse(NewPersonBirthday), TempUserId);
        await this.OnInitializedAsync();
    }

    private async Task DeleteAsync(Guid id)
    {
        await repo.DeletePerson(id);
        await this.OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        NewPersonName = string.Empty;
        NewPersonBirthday = string.Empty;
        myPeople = await repo.GetMyPeople(TempUserId);
    }
}
