@page "/people"
@attribute [StreamRendering]
@inject PersonRepository repo

<PageTitle>People</PageTitle>

<h1>People</h1>

<p>This component demonstrates showing data.</p>

@if (myPeople == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in myPeople)
            {
                <tr>
                    <td>
                        <a href="gifts/@person.Id">@person.Name</a>
                    </td>
                    <td>@person.Birthday</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Person[]? myPeople;

    protected override async Task OnInitializedAsync()
    {
        myPeople = await repo.GetMyPeople(Guid.Empty);
    }
}
