@page "/people"
@attribute [Authorize]
@inject PersonRepository repo
@inject UserRepository userRepo

<PageTitle>People</PageTitle>

<h1>@email's people</h1>

<p>People who you plan to gift</p>

@if (myPeople == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in myPeople)
            {
                <tr>
                    <td>
                        <a href="gifts/@person.Id">@person.Name</a>
                    </td>
                    <td>@person.Birthday</td>
                    <td>
                        <button class="btn btn-link p-0" @onclick="() => DeleteAsync(person.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" @onsubmit="SubmitAsync" @formname="starship-plain-form">
    <AntiforgeryToken />
        <div>
            <InputText @bind-Value="NewPersonName" placeholder="Name" />
            <InputText @bind-Value="NewPersonBirthday" placeholder="Birthday (MM/dd/YYYY)" />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
}

@code {
    private Person[]? myPeople;
    private Guid userId;
    private string email;
    
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    [SupplyParameterFromForm]
    private string NewPersonName { get; set; } = string.Empty;
    
    [SupplyParameterFromForm]
    private string NewPersonBirthday { get; set; } = string.Empty;

    private async Task SubmitAsync()
    {
        if (string.IsNullOrWhiteSpace(NewPersonName) ||
            string.IsNullOrWhiteSpace(NewPersonBirthday))
        {
            throw new Exception("Invalid person data.");   
        }

        await repo.AddNewPerson(NewPersonName, DateTime.Parse(NewPersonBirthday), userId);
        await this.OnInitializedAsync();
    }

    private async Task DeleteAsync(Guid id)
    {
        await repo.DeletePerson(id);
        await this.OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationState is not null)
        {
            var state = await AuthenticationState;
            email = state?.User?.Identity?.Name ?? "brandonchastain@gmail.com";
            var user = await userRepo.GetUser(email);
            userId = user.Id;
        }

        NewPersonName = string.Empty;
        NewPersonBirthday = string.Empty;
        myPeople = await repo.GetMyPeople(userId);
    }
}
